.box{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.card{
  width: 95%;
}
.selUrl{
  color: lightblue;
  cursor: pointer;
}
.url{
  cursor: pointer;
}
.btnBox{
  display: flex;
  .btn{
    margin: 0 10px 10px 0;
  }
  .search{
    margin: 0 10px;
    .searchBox{
      width: 200px;
    }
  }
}